<nav class= "navbar">
    <div class= "container">
      <div p-grid>
          <div p-col-12>
            <a href="javascript:;" class= "icon-navbar" (click)="exibirMenu = !exibirMenu"><i class="pi pi-bars"></i></a>
          </div>
      </div>
    </div>

    <ul class= "navbar-menu" [hidden]="!exibirMenu">
        <li class="navbar-administrador"> {{ usuarioLogado }}</li>
        <li class="navbar-menuitem" routerLinkActive="ativo"><a routerLink="/lancamentos"> Lançamentos</a></li>
        <li class="navbar-menuitem" routerLinkActive="ativo"><a routerLink="/pessoas"> Pessoas</a></li>
        <li class="navbar-menuitem"><a href="javascript:;"> Logout</a></li>
    </ul>
</nav>
