<div class="container">
    <form #pessoaForm="ngForm" autocomplete="off" (ngSubmit)="salvar(pessoaForm)">

        <div class="grid">
            <div class="col-12">
                <h1>Nova Pessoa</h1>
            </div>

            <div class="col-12 p-fluid">
                <label>Nome</label>
                <input pInputText type="text" name="nome"
                #nome="ngModel" required minlength="3" [(ngModel)]="pessoa.nome">

                <app-messages [control]="nome" error="required"
                text="Informe o nome"></app-messages>
            </div>

            <div class="col-9 p-fluid">
                <label>Logradouro</label>
                <input pInputText type="text" name="logradouro"
                #logradouro="ngModel" required minlength="3"  [(ngModel)]="pessoa.endereco.logradouro">

                <app-messages [control]="logradouro" error="required"
                text="Informe o logradouro"></app-messages>
            </div>

            <div class="col-3 p-fluid">
                <label>Número</label>
                <input pInputText type="text" name="numero"
                #numero="ngModel" required minlength="1" [(ngModel)]="pessoa.endereco.numero">

                <app-messages [control]="numero" error="required"
                text="Informe o numero"></app-messages>
            </div>

            <div class="col-4 p-fluid">
                <label>Complemento</label>
                <input pInputText type="text" name="complemento" [(ngModel)]="pessoa.endereco.complemento">
            </div>

            <div class="col-4 p-fluid">
                <label>Bairro</label>
                <input pInputText type="text" name="bairro"
                #bairro="ngModel" required minlength="3" [(ngModel)]="pessoa.endereco.bairro">

                <app-messages [control]="bairro" error="required"
                text="Informe o bairro"></app-messages>
            </div>

            <div class="col-4 p-fluid">
                <label>CEP</label>
                <p-inputMask mask="99.999-999" name="cep"
                #cep="ngModel" required minlength="8" [(ngModel)]="pessoa.endereco.cep">
                </p-inputMask>

                <app-messages [control]="cep" error="required"
                text="Informe o cep"></app-messages>
            </div>

            <div class="col-6 p-fluid">
                <label>Cidade</label>
                <input pInputText type="text" name="cidade"
                #cidade="ngModel" required minlength="3" [(ngModel)]="pessoa.endereco.cidade">

                <app-messages [control]="cidade" error="required"
                text="Informe a cidade"></app-messages>
            </div>

            <div class="col-6 p-fluid">
                <label>Estado</label>
                <input pInputText type="text" name="estado"
                #estado="ngModel" required minlength="3" [(ngModel)]="pessoa.endereco.estado">

                <app-messages [control]="estado" error="required"
                text="Informe o estado"></app-messages>
            </div>

            <div class="col-12">
                <button pButton [disabled]="pessoaForm.invalid" type="submit" label="Salvar" class="p-button-info"></button>
                <button pButton type="button" label="Novo" class="p-button-info"></button>

                <a href="javascript:;" class="p-button-info">Voltar para a pesquisa</a>
            </div>
        </div>

    </form>

</div>